<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Max request size (in bytes) -->
				<requestLimits maxAllowedContentLength="104857600" />
				<!-- 100 MB -->
			</requestFiltering>
		</security>
	</system.webServer>

	<system.web>
		<httpRuntime maxRequestLength="102400" />
		<!-- maxRequestLength in KB (100 MB) -->
	</system.web>
</configuration>
