/* stylelint-disable at-rule-no-unknown */


*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
          -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[multiple],[size]:where(select:not([size="1"])) {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
          -moz-appearance: none;
       appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
          -moz-user-select: none;
       user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='checkbox']:checked {
    -webkit-appearance: auto;
            -moz-appearance: auto;
         appearance: auto;
  }
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

@media (forced-colors: active)  {
  [type='radio']:checked {
    -webkit-appearance: auto;
            -moz-appearance: auto;
         appearance: auto;
  }
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active)  {
  [type='checkbox']:indeterminate {
    -webkit-appearance: auto;
            -moz-appearance: auto;
         appearance: auto;
  }
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}

.tw-button-base {
  border-radius: var(--border-radius-full);
  cursor: pointer;
  text-decoration-line: none;
  -webkit-appearance: none;
          -moz-appearance: none;
       appearance: none;
  display: inline-block;
  text-align: center;
  border-width: 1px;
}

.tw-button-base:disabled {
  cursor: not-allowed;
}

.tw-button-base {
  white-space: nowrap;
}

.tw-button-md {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 15px;
  font-size: clamp(0.875rem, 0.313vw + 0.75rem, 1rem);
  line-height: 1;
  font-weight: 650;
}

.tw-button-sm {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 13px;
  font-size: clamp(0.75rem, 0.313vw + 0.625rem, 0.875rem);
  line-height: 1;
  font-weight: 650;
}

.tw-button-primary {
  color: var(--color-base-white);
  background-color: var(--color-grey-1000);
  border-color: transparent;
}

.tw-button-primary:hover {
  background-color: var(--color-grey-900);
  border-color: transparent;
}

.tw-button-primary:focus {
  background-color: var(--color-base-black);
  border-color: var(--color-highlight-primary);
}

.tw-button-primary:active {
  background-color: var(--color-base-black);
  border-color: transparent;
}

.tw-button-primary:disabled {
  background-color: var(--color-grey-400);
  border-color: transparent;
}

.tw-button-secondary {
  color: var(--color-base-black);
  background-color: var(--color-base-white);
  border-color: var(--color-grey-400);
}

.tw-button-secondary:hover {
  color: var(--color-base-black);
  background-color: var(--color-grey-200);
  border-color: var(--color-grey-500);
}

.tw-button-secondary:focus {
  color: var(--color-base-black);
  background-color: var(--color-grey-200);
  border-color: var(--color-highlight-primary);
}

.tw-button-secondary:active {
  background-color: var(--color-grey-300);
  border-color: var(--color-grey-500);
}

.tw-button-secondary:disabled {
  background-color: var(--color-base-white);
  border-color: var(--color-grey-400);
  color: var(--color-grey-400);
}

.tw-button-emphasis {
  color: var(--color-base-black);
  background-color: var(--color-green-400);
  border-color: var(--color-green-500);
}

.tw-button-emphasis:hover {
  background-color: var(--color-green-500);
  border-color: var(--color-green-600);
}

.tw-button-emphasis:focus {
  background-color: var(--color-green-500);
  border-color: var(--color-highlight-primary);
}

.tw-button-emphasis:active {
  background-color: var(--color-green-600);
  border-color: var(--color-green-700);
}

.tw-button-emphasis:disabled {
  background-color: var(--color-green-50);
  border-color: var(--color-green-300);
  color: var(--color-green-300);
}

.tw-link-base {
  color: var(--color-base-black);
}

.tw-link-base:hover {
  color: var(--color-highlight-primary);
}

.tw-link-base {
  text-decoration-line: none;
  padding-bottom: var(--spacing-2xs);
  border-color: initial;
}

.tw-link-base:hover {
  border-color: transparent;
}

.tw-link-inverted {
  color: var(--color-base-white);
}

.tw-link-inverted:hover {
  color: var(--color-highlight-secondary);
}

.tw-link-sm {
  border-bottom-width: 1px;
}

.tw-link-xs {
  border-bottom-width: 1px;
}

.tw-container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1024px) {
  .tw-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1280px) {
  .tw-container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.tw-absolute {
  position: absolute;
}

.tw-relative {
  position: relative;
}

.-tw-bottom-lg {
  bottom: calc(var(--spacing-lg) * -1);
}

.tw--start-1\.5 {
  inset-inline-start: -0.375rem;
}

.tw-bottom-0 {
  bottom: 0px;
}

.tw-left-1\/2 {
  left: 50%;
}

.tw-right-0 {
  right: 0px;
}

.tw-right-5 {
  right: 1.25rem;
}

.tw-right-md {
  right: var(--spacing-md);
}

.tw-top-1\/2 {
  top: 50%;
}

.tw-top-2\/4 {
  top: 50%;
}

.tw-top-24 {
  top: 6rem;
}

.tw-z-30 {
  z-index: 30;
}

.tw-z-50 {
  z-index: 50;
}

.tw-col-span-full {
  grid-column: 1 / -1;
}

.tw-float-left {
  float: left;
}

.tw-m-0 {
  margin: 0px;
}

.tw-m-auto {
  margin: auto;
}

.tw-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.tw-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.tw-my-3xl {
  margin-top: var(--spacing-3xl);
  margin-bottom: var(--spacing-3xl);
}

.tw-my-lg {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}

.tw-my-md {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.\!tw-ml-0 {
  margin-left: 0px !important;
}

.\!tw-mt-md {
  margin-top: var(--spacing-md) !important;
}

.-tw-mb-\[40px\] {
  margin-bottom: -40px;
}

.tw-mb-0 {
  margin-bottom: 0px;
}

.tw-mb-1 {
  margin-bottom: 0.25rem;
}

.tw-mb-10 {
  margin-bottom: 2.5rem;
}

.tw-mb-2xl {
  margin-bottom: var(--spacing-2xl);
}

.tw-mb-3 {
  margin-bottom: 0.75rem;
}

.tw-mb-3xl {
  margin-bottom: var(--spacing-3xl);
}

.tw-mb-4 {
  margin-bottom: 1rem;
}

.tw-mb-5 {
  margin-bottom: 1.25rem;
}

.tw-mb-\[-1px\] {
  margin-bottom: -1px;
}

.tw-mb-lg {
  margin-bottom: var(--spacing-lg);
}

.tw-mb-md {
  margin-bottom: var(--spacing-md);
}

.tw-mb-sm {
  margin-bottom: var(--spacing-sm);
}

.tw-mb-xl {
  margin-bottom: var(--spacing-xl);
}

.tw-mb-xs {
  margin-bottom: var(--spacing-xs);
}

.tw-ml-5 {
  margin-left: 1.25rem;
}

.tw-mr-0 {
  margin-right: 0px;
}

.tw-mr-5 {
  margin-right: 1.25rem;
}

.tw-mr-lg {
  margin-right: var(--spacing-lg);
}

.tw-mr-sm {
  margin-right: var(--spacing-sm);
}

.tw-ms-4 {
  margin-inline-start: 1rem;
}

.tw-mt-1\.5 {
  margin-top: 0.375rem;
}

.tw-mt-2 {
  margin-top: 0.5rem;
}

.tw-mt-5 {
  margin-top: 1.25rem;
}

.tw-mt-\[2px\] {
  margin-top: 2px;
}

.tw-mt-lg {
  margin-top: var(--spacing-lg);
}

.tw-mt-md {
  margin-top: var(--spacing-md);
}

.tw-mt-xl {
  margin-top: var(--spacing-xl);
}

.tw-mt-xs {
  margin-top: var(--spacing-xs);
}

.tw-block {
  display: block;
}

.tw-inline-block {
  display: inline-block;
}

.tw-flex {
  display: flex;
}

.tw-inline-flex {
  display: inline-flex;
}

.tw-grid {
  display: grid;
}

.tw-hidden {
  display: none;
}

.tw-aspect-\[16\/9\] {
  aspect-ratio: 16/9;
}

.tw-aspect-\[4\/5\] {
  aspect-ratio: 4/5;
}

.tw-h-10 {
  height: 2.5rem;
}

.tw-h-14 {
  height: 3.5rem;
}

.tw-h-3 {
  height: 0.75rem;
}

.tw-h-8 {
  height: 2rem;
}

.tw-h-80 {
  height: 20rem;
}

.tw-h-\[1\.5em\] {
  height: 1.5em;
}

.tw-h-\[20px\] {
  height: 20px;
}

.tw-h-auto {
  height: auto;
}

.tw-h-full {
  height: 100%;
}

.tw-max-h-\[44rem\] {
  max-height: 44rem;
}

.tw-max-h-full {
  max-height: 100%;
}

.tw-min-h-\[150px\] {
  min-height: 150px;
}

.tw-w-10 {
  width: 2.5rem;
}

.tw-w-14 {
  width: 3.5rem;
}

.tw-w-3 {
  width: 0.75rem;
}

.tw-w-36 {
  width: 9rem;
}

.tw-w-4\/5 {
  width: 80%;
}

.tw-w-8 {
  width: 2rem;
}

.tw-w-\[1\.5em\] {
  width: 1.5em;
}

.tw-w-\[20px\] {
  width: 20px;
}

.tw-w-\[20vw\] {
  width: 20vw;
}

.tw-w-auto {
  width: auto;
}

.tw-w-full {
  width: 100%;
}

.tw-w-xl {
  width: var(--spacing-xl);
}

.tw-min-w-\[12rem\] {
  min-width: 12rem;
}

.tw-max-w-full {
  max-width: 100%;
}

.tw-flex-1 {
  flex: 1 1 0%;
}

.tw-shrink-0 {
  flex-shrink: 0;
}

.tw-basis-1\/2 {
  flex-basis: 50%;
}

.tw-basis-4\/5 {
  flex-basis: 80%;
}

.tw-origin-top {
  transform-origin: top;
}

.-tw-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-tw-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-tw-translate-y-2\/4 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-cursor-pointer {
  cursor: pointer;
}

.tw-select-none {
  -webkit-user-select: none;
          -moz-user-select: none;
       user-select: none;
}

.tw-resize-none {
  resize: none;
}

.tw-snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.tw-snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}

.tw-snap-center {
  scroll-snap-align: center;
}

.tw-appearance-none {
  -webkit-appearance: none;
          -moz-appearance: none;
       appearance: none;
}

.tw-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.tw-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tw-flex-col {
  flex-direction: column;
}

.tw-flex-col-reverse {
  flex-direction: column-reverse;
}

.tw-flex-wrap {
  flex-wrap: wrap;
}

.tw-items-start {
  align-items: flex-start;
}

.tw-items-end {
  align-items: flex-end;
}

.tw-items-center {
  align-items: center;
}

.tw-justify-start {
  justify-content: flex-start;
}

.tw-justify-end {
  justify-content: flex-end;
}

.tw-justify-center {
  justify-content: center;
}

.\!tw-justify-between {
  justify-content: space-between !important;
}

.tw-justify-between {
  justify-content: space-between;
}

.tw-gap-2xl {
  gap: var(--spacing-2xl);
}

.tw-gap-3 {
  gap: 0.75rem;
}

.tw-gap-3xs {
  gap: var(--spacing-3xs);
}

.tw-gap-4 {
  gap: 1rem;
}

.tw-gap-6 {
  gap: 1.5rem;
}

.tw-gap-gutter--mobile {
  gap: var(--gutter-mobile);
}

.tw-gap-lg {
  gap: var(--spacing-lg);
}

.tw-gap-md {
  gap: var(--spacing-md);
}

.tw-gap-sm {
  gap: var(--spacing-sm);
}

.tw-gap-xl {
  gap: var(--spacing-xl);
}

.tw-gap-xs {
  gap: var(--spacing-xs);
}

.tw-gap-x-gutter--mobile {
  -moz-column-gap: var(--gutter-mobile);
       column-gap: var(--gutter-mobile);
}

.tw-gap-y-sm {
  row-gap: var(--spacing-sm);
}

.tw-self-start {
  align-self: flex-start;
}

.tw-self-center {
  align-self: center;
}

.tw-overflow-auto {
  overflow: auto;
}

.tw-overflow-hidden {
  overflow: hidden;
}

.tw-overflow-visible {
  overflow: visible;
}

.tw-overflow-scroll {
  overflow: scroll;
}

.tw-overflow-x-auto {
  overflow-x: auto;
}

.tw-overflow-x-hidden {
  overflow-x: hidden;
}

.tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tw-whitespace-nowrap {
  white-space: nowrap;
}

.tw-whitespace-pre-wrap {
  white-space: pre-wrap;
}

.tw-text-nowrap {
  text-wrap: nowrap;
}

.tw-text-balance {
  text-wrap: balance;
}

.tw-text-pretty {
  text-wrap: pretty;
}

.tw-break-words {
  overflow-wrap: break-word;
}

.tw-rounded-\[\.5rem\] {
  border-radius: .5rem;
}

.tw-rounded-full {
  border-radius: var(--border-radius-full);
}

.tw-rounded-lg {
  border-radius: var(--border-radius-lg);
}

.tw-rounded-md {
  border-radius: var(--border-radius-md);
}

.tw-rounded-sm {
  border-radius: var(--border-radius-sm);
}

.tw-border {
  border-width: 1px;
}

.tw-border-0 {
  border-width: 0px;
}

.tw-border-2 {
  border-width: 2px;
}

.tw-border-4 {
  border-width: 4px;
}

.tw-border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.tw-border-b {
  border-bottom-width: 1px;
}

.tw-border-b-2 {
  border-bottom-width: 2px;
}

.tw-border-l {
  border-left-width: 1px;
}

.tw-border-r {
  border-right-width: 1px;
}

.tw-border-t {
  border-top-width: 1px;
}

.tw-border-solid {
  border-style: solid;
}

.tw-border-none {
  border-style: none;
}

.tw-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.tw-border-canvas-primary {
  border-color: var(--color-base-white);
}

.tw-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.tw-border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
}

.tw-border-stroke-inverted-primary {
  border-color: var(--color-grey-700);
}

.tw-border-stroke-inverted-secondary {
  border-color: var(--color-grey-800);
}

.tw-border-stroke-mobilePhone {
  border-color: var(--color-grey-900);
}

.tw-border-stroke-primary {
  border-color: var(--color-grey-400);
}

.tw-border-stroke-secondary {
  border-color: var(--color-grey-300);
}

.tw-border-transparent {
  border-color: transparent;
}

.tw-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.tw-border-y-stroke-primary {
  border-top-color: var(--color-grey-400);
  border-bottom-color: var(--color-grey-400);
}

.tw-border-l-gray-200 {
  --tw-border-opacity: 1;
  border-left-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.tw-border-r-stroke-inverted-secondary {
  border-right-color: var(--color-grey-800);
}

.tw-border-t-gray-200 {
  --tw-border-opacity: 1;
  border-top-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.\!tw-bg-transparent {
  background-color: transparent !important;
}

.tw-bg-\[\#FFFF00\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 0 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(148\,116\,255\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(148 116 255 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(197\,48\,197\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(197 48 197 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(253\,75\,146\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 75 146 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(37\,232\,43\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(37 232 43 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(44\,224\,212\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(44 224 212 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(56\,250\,163\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(56 250 163 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[rgb\(81\,192\,255\)\] {
  --tw-bg-opacity: 1;
  background-color: rgb(81 192 255 / var(--tw-bg-opacity, 1));
}

.tw-bg-canvas-inverted-primary {
  background-color: var(--color-base-black);
}

.tw-bg-canvas-inverted-tertiary {
  background-color: var(--color-grey-800);
}

.tw-bg-canvas-primary {
  background-color: var(--color-base-white);
}

.tw-bg-canvas-secondary {
  background-color: var(--color-grey-50);
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.tw-bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity, 1));
}

.tw-bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));
}

.tw-fill-fg-secondary {
  fill: var(--color-grey-700);
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.tw-p-0 {
  padding: 0px;
}

.tw-p-2xl {
  padding: var(--spacing-2xl);
}

.tw-p-4 {
  padding: 1rem;
}

.tw-p-5 {
  padding: 1.25rem;
}

.tw-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.tw-px-md {
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
}

.tw-px-sm {
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
}

.tw-py-2xl {
  padding-top: var(--spacing-2xl);
  padding-bottom: var(--spacing-2xl);
}

.tw-py-3xl {
  padding-top: var(--spacing-3xl);
  padding-bottom: var(--spacing-3xl);
}

.tw-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tw-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tw-py-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.tw-py-md {
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
}

.tw-py-sm {
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.tw-py-xl {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.tw-pb-2xs {
  padding-bottom: var(--spacing-2xs);
}

.tw-pb-3xl {
  padding-bottom: var(--spacing-3xl);
}

.tw-pb-4 {
  padding-bottom: 1rem;
}

.tw-pb-5 {
  padding-bottom: 1.25rem;
}

.tw-pb-lg {
  padding-bottom: var(--spacing-lg);
}

.tw-pb-md {
  padding-bottom: var(--spacing-md);
}

.tw-pb-sm {
  padding-bottom: var(--spacing-sm);
}

.tw-pb-xl {
  padding-bottom: var(--spacing-xl);
}

.tw-pb-xs {
  padding-bottom: var(--spacing-xs);
}

.tw-pl-md {
  padding-left: var(--spacing-md);
}

.tw-pl-sm {
  padding-left: var(--spacing-sm);
}

.tw-pl-xl {
  padding-left: var(--spacing-xl);
}

.tw-pr-lg {
  padding-right: var(--spacing-lg);
}

.tw-pr-sm {
  padding-right: var(--spacing-sm);
}

.tw-ps-4 {
  padding-inline-start: 1rem;
}

.tw-pt-4 {
  padding-top: 1rem;
}

.tw-pt-md {
  padding-top: var(--spacing-md);
}

.tw-pt-sm {
  padding-top: var(--spacing-sm);
}

.tw-pt-xl {
  padding-top: var(--spacing-xl);
}

.tw-pt-xs {
  padding-top: var(--spacing-xs);
}

.tw-text-left {
  text-align: left;
}

.tw-text-center {
  text-align: center;
}

.tw-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.tw-text-\[0\.75rem\] {
  font-size: 0.75rem;
}

.tw-text-\[1rem\] {
  font-size: 1rem;
}

.tw-text-body-2xl {
  font-size: 22px;
  font-size: clamp(1.25rem, 0.469vw + 1.063rem, 1.438rem);
  line-height: 1.4;
  line-height: clamp(1.813rem, 0.32vw + 1.684rem, 1.941rem);
  letter-spacing: -0.01em;
  font-weight: 450;
}

.tw-text-body-3xl {
  font-size: 25px;
  font-size: clamp(1.438rem, 0.469vw + 1.25rem, 1.625rem);
  line-height: 1.3;
  line-height: clamp(1.941rem, 0.227vw + 1.85rem, 2.031rem);
  letter-spacing: -0.01em;
  font-weight: 450;
}

.tw-text-body-lg {
  font-size: 17px;
  font-size: clamp(1rem, 0.313vw + 0.875rem, 1.125rem);
  line-height: 1.45;
  font-weight: 450;
}

.tw-text-body-md {
  font-size: 15px;
  font-size: clamp(0.875rem, 0.313vw + 0.75rem, 1rem);
  line-height: 1.45;
  font-weight: 450;
}

.tw-text-body-sm {
  font-size: 13px;
  font-size: clamp(0.75rem, 0.313vw + 0.625rem, 0.875rem);
  line-height: 1.45;
  font-weight: 450;
}

.tw-text-body-xl {
  font-size: 19px;
  font-size: clamp(1.125rem, 0.313vw + 1rem, 1.25rem);
  line-height: 1.45;
  font-weight: 450;
}

.tw-text-body-xs {
  font-size: 12px;
  font-size: clamp(0.688rem, 0.156vw + 0.625rem, 0.75rem);
  line-height: 1.45;
  font-weight: 450;
}

.tw-text-display-3 {
  font-size: 66px;
  font-size: clamp(2.563rem, 5.156vw + 0.5rem, 4.625rem);
  line-height: 1.1;
  line-height: clamp(2.947rem, 4.773vw + 1.038rem, 4.856rem);
  letter-spacing: -0.03em;
  font-weight: 600;
}

.tw-text-display-6 {
  font-size: 46px;
  font-size: clamp(1.813rem, 3.594vw + 0.375rem, 3.25rem);
  line-height: 1.2;
  line-height: clamp(2.266rem, 3.68vw + 0.794rem, 3.738rem);
  letter-spacing: -0.02em;
  font-weight: 600;
}

.tw-text-heading-2xl {
  font-size: 26px;
  font-size: clamp(1.25rem, 1.406vw + 0.688rem, 1.813rem);
  line-height: 1.3;
  line-height: clamp(1.688rem, 1.445vw + 1.109rem, 2.266rem);
  letter-spacing: -0.01em;
  font-weight: 650;
}

.tw-text-heading-3xl {
  font-size: 29px;
  font-size: clamp(1.438rem, 2.031vw + 0.625rem, 2.25rem);
  line-height: 1.2;
  line-height: clamp(1.797rem, 1.977vw + 1.006rem, 2.588rem);
  letter-spacing: -0.02em;
  font-weight: 650;
}

.tw-text-heading-lg {
  font-size: 17px;
  font-size: clamp(1rem, 0.313vw + 0.875rem, 1.125rem);
  line-height: 1.4;
  line-height: clamp(1.45rem, 0.172vw + 1.381rem, 1.519rem);
  font-weight: 650;
}

.tw-text-heading-md {
  font-size: 15px;
  font-size: clamp(0.875rem, 0.313vw + 0.75rem, 1rem);
  line-height: 1.45;
  font-weight: 650;
}

.tw-text-heading-sm {
  font-size: 13px;
  font-size: clamp(0.75rem, 0.313vw + 0.625rem, 0.875rem);
  line-height: 1.45;
  font-weight: 650;
}

.tw-text-heading-xl {
  font-size: 21px;
  font-size: clamp(1.125rem, 0.781vw + 0.813rem, 1.438rem);
  line-height: 1.3;
  line-height: clamp(1.519rem, 0.695vw + 1.241rem, 1.797rem);
  letter-spacing: -0.01em;
  font-weight: 650;
}

.tw-text-heading-xs {
  font-size: 12px;
  font-size: clamp(0.688rem, 0.156vw + 0.625rem, 0.75rem);
  line-height: 1.45;
  font-weight: 650;
}

.tw-text-label-md {
  font-size: 13px;
  font-size: clamp(0.75rem, 0.313vw + 0.625rem, 0.875rem);
  line-height: 1;
  font-weight: 500;
}

.tw-text-label-sm {
  font-size: 12px;
  font-size: clamp(0.688rem, 0.156vw + 0.625rem, 0.75rem);
  line-height: 1;
  font-weight: 500;
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-text-link-md {
  font-size: 15px;
  font-size: clamp(0.875rem, 0.313vw + 0.75rem, 1rem);
  line-height: 1;
  font-weight: 650;
}

.tw-text-link-sm {
  font-size: 13px;
  font-size: clamp(0.75rem, 0.313vw + 0.625rem, 0.875rem);
  line-height: 1;
  font-weight: 650;
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.\!tw-font-medium {
  font-weight: 500 !important;
}

.tw-font-bold {
  font-weight: 700;
}

.tw-font-medium {
  font-weight: 500;
}

.tw-font-normal {
  font-weight: 400;
}

.tw-font-semibold {
  font-weight: 600;
}

.tw-uppercase {
  text-transform: uppercase;
}

.tw-leading-5 {
  line-height: 1.25rem;
}

.tw-leading-none {
  line-height: 1;
}

.tw-tracking-wide {
  letter-spacing: 0.025em;
}

.tw-text-\[rgb\(0\,33\,51\)\] {
  --tw-text-opacity: 1;
  color: rgb(0 33 51 / var(--tw-text-opacity, 1));
}

.tw-text-\[rgb\(248\,247\,255\)\] {
  --tw-text-opacity: 1;
  color: rgb(248 247 255 / var(--tw-text-opacity, 1));
}

.tw-text-\[rgb\(253\,239\,253\)\] {
  --tw-text-opacity: 1;
  color: rgb(253 239 253 / var(--tw-text-opacity, 1));
}

.tw-text-\[rgb\(255\,246\,248\)\] {
  --tw-text-opacity: 1;
  color: rgb(255 246 248 / var(--tw-text-opacity, 1));
}

.tw-text-\[rgb\(3\,60\,57\)\] {
  --tw-text-opacity: 1;
  color: rgb(3 60 57 / var(--tw-text-opacity, 1));
}

.tw-text-\[rgb\(3\,61\,5\)\] {
  --tw-text-opacity: 1;
  color: rgb(3 61 5 / var(--tw-text-opacity, 1));
}

.tw-text-fg-highlight-primary {
  color: var(--color-highlight-primary);
}

.tw-text-fg-inverted-primary {
  color: var(--color-base-white);
}

.tw-text-fg-inverted-secondary {
  color: var(--color-grey-300);
}

.tw-text-fg-inverted-tertiary {
  color: var(--color-grey-500);
}

.tw-text-fg-primary {
  color: var(--color-base-black);
}

.tw-text-fg-secondary {
  color: var(--color-grey-700);
}

.tw-text-fg-tertiary {
  color: var(--color-grey-600);
}

.tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.tw-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.tw-text-red-900 {
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity, 1));
}

.tw-text-zinc-900 {
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity, 1));
}

.tw-underline {
  text-decoration-line: underline;
}

.tw-no-underline {
  text-decoration-line: none;
}

.tw-decoration-2 {
  text-decoration-thickness: 2px;
}

.tw-underline-offset-4 {
  text-underline-offset: 4px;
}

.tw-placeholder-gray-400::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
}

.tw-placeholder-gray-400::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
}

.tw-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-mobilePhone {
  --tw-shadow: 0px -4px 8px 1px rgba(0, 0, 0, 0.07), 0px -2px 4px 1px rgba(0, 0, 0, 0.07), 0px -1px 2px 1px rgba(0, 0, 0, 0.07);
  --tw-shadow-colored: 0px -4px 8px 1px var(--tw-shadow-color), 0px -2px 4px 1px var(--tw-shadow-color), 0px -1px 2px 1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-outline-button-outline-focus {
  outline-color: var(--color-highlight-secondary);
}

.tw-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-duration-100 {
  transition-duration: 100ms;
}

.tw-duration-1000 {
  transition-duration: 1000ms;
}

.tw-duration-200 {
  transition-duration: 200ms;
}

.tw-duration-300 {
  transition-duration: 300ms;
}

.tw-duration-500 {
  transition-duration: 500ms;
}

.tw-ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tw-ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.tw-will-change-\[opacity\] {
  will-change: opacity;
}

@media (min-width: 1024px) {
  .lg\:tw-container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 1024px) {
    .lg\:tw-container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  @media (min-width: 1280px) {
    .lg\:tw-container {
      padding-left: 64px;
      padding-right: 64px;
    }
  }
}

.before\:tw-absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:tw-relative::before {
  content: var(--tw-content);
  position: relative;
}

.before\:tw-bottom-0::before {
  content: var(--tw-content);
  bottom: 0px;
}

.before\:tw-left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:tw-right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:tw-top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:tw-inline-block::before {
  content: var(--tw-content);
  display: inline-block;
}

.before\:tw-h-\[8px\]::before {
  content: var(--tw-content);
  height: 8px;
}

.before\:tw-w-\[8px\]::before {
  content: var(--tw-content);
  width: 8px;
}

.before\:-tw-rotate-135::before {
  content: var(--tw-content);
  --tw-rotate: -135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:-tw-rotate-45::before {
  content: var(--tw-content);
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:-tw-rotate-90::before {
  content: var(--tw-content);
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:tw-rotate-45::before {
  content: var(--tw-content);
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:tw-rounded-lg::before {
  content: var(--tw-content);
  border-radius: var(--border-radius-lg);
}

.before\:tw-border-0::before {
  content: var(--tw-content);
  border-width: 0px;
}

.before\:tw-border-b-\[3px\]::before {
  content: var(--tw-content);
  border-bottom-width: 3px;
}

.before\:tw-border-r-\[3px\]::before {
  content: var(--tw-content);
  border-right-width: 3px;
}

.before\:tw-border-solid::before {
  content: var(--tw-content);
  border-style: solid;
}

.before\:tw-border-green-500::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(34 197 94 / var(--tw-border-opacity, 1));
}

.before\:tw-border-red-500::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity, 1));
}

.before\:tw-text-yellow-300::before {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(253 224 71 / var(--tw-text-opacity, 1));
}

.before\:tw-content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.before\:tw-content-\[\'\+\'\]::before {
  --tw-content: '+';
  content: var(--tw-content);
}

.before\:tw-content-\[\'\=\'\]::before {
  --tw-content: '=';
  content: var(--tw-content);
}

.after\:tw-absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:tw-left-full::after {
  content: var(--tw-content);
  left: 100%;
}

.after\:tw-right-full::after {
  content: var(--tw-content);
  right: 100%;
}

.after\:tw-top-3xl::after {
  content: var(--tw-content);
  top: var(--spacing-3xl);
}

.after\:tw-h-2xl::after {
  content: var(--tw-content);
  height: var(--spacing-2xl);
}

.after\:tw-h-full::after {
  content: var(--tw-content);
  height: 100%;
}

.after\:tw-w-\[6px\]::after {
  content: var(--tw-content);
  width: 6px;
}

.after\:tw-w-lg::after {
  content: var(--tw-content);
  width: var(--spacing-lg);
}

.after\:tw-rounded-2xs::after {
  content: var(--tw-content);
  border-radius: var(--border-radius-2xs);
}

.after\:tw-bg-stroke-mobilePhone::after {
  content: var(--tw-content);
  background-color: var(--color-grey-900);
}

.after\:tw-bg-gradient-to-l::after {
  content: var(--tw-content);
  background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.after\:tw-from-canvas-primary::after {
  content: var(--tw-content);
  --tw-gradient-from: var(--color-base-white) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.after\:tw-content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.first\:tw-ml-md:first-child {
  margin-left: var(--spacing-md);
}

.last\:tw-mr-md:last-child {
  margin-right: var(--spacing-md);
}

.hover\:tw-scale-\[1\.05\]:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:tw-border-stroke-inverted-primary:hover {
  border-color: var(--color-grey-700);
}

.hover\:tw-border-transparent:hover {
  border-color: transparent;
}

.hover\:tw-text-fg-highlight-primary:hover {
  color: var(--color-highlight-primary);
}

.hover\:tw-shadow-none:hover {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:before\:tw-bg-white\/80:hover::before {
  content: var(--tw-content);
  background-color: rgb(255 255 255 / 0.8);
}

.disabled\:tw-cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.tw-group:hover .group-hover\:-tw-translate-y-\[2\.5\%\] {
  --tw-translate-y: -2.5%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-group:hover .group-hover\:tw-scale-\[1\.02\] {
  --tw-scale-x: 1.02;
  --tw-scale-y: 1.02;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-group:hover .group-hover\:tw-text-fg-highlight-primary {
  color: var(--color-highlight-primary);
}

.tw-group:hover .group-hover\:tw-underline {
  text-decoration-line: underline;
}

.tw-group:hover .group-hover\:tw-opacity-80 {
  opacity: 0.8;
}

.tw-group:hover .group-hover\:tw-pause {
  animation-play-state: paused;
}

.tw-group:focus .group-focus\:tw-opacity-80 {
  opacity: 0.8;
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes tw-moveSlideshow {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .motion-safe\:tw-animate-slideshow {
    animation: tw-moveSlideshow 30s linear infinite;
  }

  @keyframes tw-moveSlideshow {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .motion-safe\:tw-animate-slideshowBackwards {
    animation: tw-moveSlideshow 30s linear infinite reverse;
  }
}

@media (min-width: 640px) {
  .sm\:tw-block {
    display: block;
  }

  .sm\:tw-hidden {
    display: none;
  }

  .sm\:tw-w-auto {
    width: auto;
  }

  .sm\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:tw-flex-row {
    flex-direction: row;
  }

  .sm\:tw-items-end {
    align-items: flex-end;
  }

  .sm\:tw-gap-gutter--desktop {
    gap: var(--gutter-desktop);
  }

  .sm\:tw-pb-sm {
    padding-bottom: var(--spacing-sm);
  }
}

@media (min-width: 768px) {
  .md\:-tw-bottom-3xl {
    bottom: calc(var(--spacing-3xl) * -1);
  }

  .md\:tw-col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:tw-col-span-5 {
    grid-column: span 5 / span 5;
  }

  .md\:tw-col-span-6 {
    grid-column: span 6 / span 6;
  }

  .md\:tw-col-span-7 {
    grid-column: span 7 / span 7;
  }

  .md\:tw-col-span-8 {
    grid-column: span 8 / span 8;
  }

  .md\:tw-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:tw-my-xl {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }

  .md\:-tw-mb-\[30px\] {
    margin-bottom: -30px;
  }

  .md\:tw-mb-0 {
    margin-bottom: 0px;
  }

  .md\:tw-mb-2xl {
    margin-bottom: var(--spacing-2xl);
  }

  .md\:tw-mb-md {
    margin-bottom: var(--spacing-md);
  }

  .md\:tw-mr-0 {
    margin-right: 0px;
  }

  .md\:tw-mt-0 {
    margin-top: 0px;
  }

  .md\:tw-mt-2xl {
    margin-top: var(--spacing-2xl);
  }

  .md\:tw-mt-\[-1px\] {
    margin-top: -1px;
  }

  .md\:tw-mt-xl {
    margin-top: var(--spacing-xl);
  }

  .md\:tw-block {
    display: block;
  }

  .md\:tw-inline-block {
    display: inline-block;
  }

  .md\:tw-flex {
    display: flex;
  }

  .md\:tw-grid {
    display: grid;
  }

  .md\:tw-hidden {
    display: none;
  }

  .md\:tw-h-80 {
    height: 20rem;
  }

  .md\:tw-w-2\/4 {
    width: 50%;
  }

  .md\:tw-basis-2\/5 {
    flex-basis: 40%;
  }

  .md\:-tw-translate-y-2xs {
    --tw-translate-y: calc(var(--spacing-2xs) * -1);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:tw-flex-row {
    flex-direction: row;
  }

  .md\:tw-flex-col {
    flex-direction: column;
  }

  .md\:tw-items-start {
    align-items: flex-start;
  }

  .md\:tw-justify-end {
    justify-content: flex-end;
  }

  .md\:tw-gap-gutter--desktop {
    gap: var(--gutter-desktop);
  }

  .md\:tw-gap-gutter--mobile {
    gap: var(--gutter-mobile);
  }

  .md\:tw-gap-lg {
    gap: var(--spacing-lg);
  }

  .md\:tw-gap-x-gutter--desktop {
    -moz-column-gap: var(--gutter-desktop);
         column-gap: var(--gutter-desktop);
  }

  .md\:tw-text-balance {
    text-wrap: balance;
  }

  .md\:tw-rounded-sm {
    border-radius: var(--border-radius-sm);
  }

  .md\:tw-border-0 {
    border-width: 0px;
  }

  .md\:tw-border-b {
    border-bottom-width: 1px;
  }

  .md\:tw-border-stroke-inverted-primary {
    border-color: var(--color-grey-700);
  }

  .md\:tw-py-2xl {
    padding-top: var(--spacing-2xl);
    padding-bottom: var(--spacing-2xl);
  }

  .md\:tw-py-xl {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  .md\:tw-pb-2xl {
    padding-bottom: var(--spacing-2xl);
  }

  .md\:tw-pb-xl {
    padding-bottom: var(--spacing-xl);
  }

  .md\:tw-pr-0 {
    padding-right: 0px;
  }

  .md\:tw-pt-xl {
    padding-top: var(--spacing-xl);
  }

  .md\:tw-text-left {
    text-align: left;
  }

  .md\:tw-text-body-md {
    font-size: 15px;
    font-size: clamp(0.875rem, 0.313vw + 0.75rem, 1rem);
    line-height: 1.45;
    font-weight: 450;
  }

  .md\:tw-text-heading-md {
    font-size: 15px;
    font-size: clamp(0.875rem, 0.313vw + 0.75rem, 1rem);
    line-height: 1.45;
    font-weight: 650;
  }
}

@media (min-width: 1024px) {
  .lg\:tw-top-32 {
    top: 8rem;
  }

  .lg\:tw-col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:tw-col-span-5 {
    grid-column: span 5 / span 5;
  }

  .lg\:tw-col-span-7 {
    grid-column: span 7 / span 7;
  }

  .lg\:tw-col-span-8 {
    grid-column: span 8 / span 8;
  }

  .lg\:tw-mb-2xl {
    margin-bottom: var(--spacing-2xl);
  }

  .lg\:tw-mt-\[0\.125em\] {
    margin-top: 0.125em;
  }

  .lg\:tw-block {
    display: block;
  }

  .lg\:tw-grid {
    display: grid;
  }

  .lg\:tw-hidden {
    display: none;
  }

  .lg\:tw-h-96 {
    height: 24rem;
  }

  .lg\:tw-w-40 {
    width: 10rem;
  }

  .lg\:tw-max-w-\[13em\] {
    max-width: 13em;
  }

  .lg\:tw-shrink {
    flex-shrink: 1;
  }

  .lg\:tw-basis-auto {
    flex-basis: auto;
  }

  .lg\:tw-snap-none {
    scroll-snap-type: none;
  }

  .lg\:\!tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .lg\:tw-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:tw-gap-gutter--desktop {
    gap: var(--gutter-desktop);
  }

  .lg\:tw-gap-xl {
    gap: var(--spacing-xl);
  }

  .lg\:tw-py-2xl {
    padding-top: var(--spacing-2xl);
    padding-bottom: var(--spacing-2xl);
  }

  .lg\:tw-py-3xl {
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }

  .lg\:tw-py-4xl {
    padding-top: var(--spacing-4xl);
    padding-bottom: var(--spacing-4xl);
  }

  .lg\:tw-pt-0 {
    padding-top: 0px;
  }

  .lg\:tw-pt-2xl {
    padding-top: var(--spacing-2xl);
  }

  .lg\:tw-pt-xl {
    padding-top: var(--spacing-xl);
  }

  .lg\:tw-text-body-lg {
    font-size: 17px;
    font-size: clamp(1rem, 0.313vw + 0.875rem, 1.125rem);
    line-height: 1.45;
    font-weight: 450;
  }

  .first\:lg\:tw-ml-0:first-child {
    margin-left: 0px;
  }

  .last\:lg\:tw-mr-0:last-child {
    margin-right: 0px;
  }
}

@media (min-width: 1280px) {
  .xl\:-tw-bottom-2xl {
    bottom: calc(var(--spacing-2xl) * -1);
  }

  .xl\:tw-col-span-3 {
    grid-column: span 3 / span 3;
  }

  .xl\:tw-col-span-4 {
    grid-column: span 4 / span 4;
  }

  .xl\:tw-col-span-8 {
    grid-column: span 8 / span 8;
  }

  .xl\:tw-col-span-9 {
    grid-column: span 9 / span 9;
  }

  .xl\:tw-col-start-5 {
    grid-column-start: 5;
  }

  .xl\:tw-grid {
    display: grid;
  }

  .xl\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:tw-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:tw-rounded-md {
    border-radius: var(--border-radius-md);
  }

  .xl\:tw-py-3xl {
    padding-top: var(--spacing-3xl);
    padding-bottom: var(--spacing-3xl);
  }

  .xl\:tw-pb-3xl {
    padding-bottom: var(--spacing-3xl);
  }

  .xl\:tw-pt-3xl {
    padding-top: var(--spacing-3xl);
  }

  .xl\:tw-pt-xl {
    padding-top: var(--spacing-xl);
  }

  .xl\:tw-text-body-2xl {
    font-size: 22px;
    font-size: clamp(1.25rem, 0.469vw + 1.063rem, 1.438rem);
    line-height: 1.4;
    line-height: clamp(1.813rem, 0.32vw + 1.684rem, 1.941rem);
    letter-spacing: -0.01em;
    font-weight: 450;
  }
}
